// 定义全局变量
$black-bg-color: #1c2128;
$black-border-color: 1px solid #30363d;
$check-color: #a5e190;
$dt-check-color: #6bc46d;

$text-color: #212529;
$btn-color: #4e4e4e;
$btn-hover-color: #000000;
$dt-btn-color: #c9d1d9;
$dt-btn-hover-color: #ffffff;

:root {
  --black-bg-color: #21262d;
  --black-border-color: 1px solid #30363d;

  //--------------------------------Text--------------------------------
  --text-color: #212529;
  --dt-text-color: #f7f7f7;

  //-------------------------------Buttons-----------------------------
  --btn-color: #5c5c5c;
  --btn-hover-color: black;
  --btn-hover-bg-color: #f4f4f4;
  --btn-active-bg-color: #e9e9e9;

  --dt-btn-color: #ababab;
  --dt-btn-hover-color: white;
  --dt-btn-hover-bg-color: #303940;
  --dt-btn-active-bg-color: #354048;

  // -------------------------------Checkboxs and radiobtns-----------------------------

  --check-color: #1f63a4;
  --dt-check-color: #236fb8;
}

@mixin btn-icon {
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 8px;
  color: var(--btn-color);
  &:hover {
    color: var(--btn-hover-color);
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
  }
  &:active {
    background-color: var(--btn-active-bg-color);
  }
  .dark-theme & {
    color: var(--dt-btn-color);

    &:hover {
      color: var(--dt-btn-hover-color);
      background-color: var(--dt-btn-hover-bg-color);
    }

    &:active {
      background-color: var(--dt-btn-active-bg-color);
    }
  }
}
